*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins';
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
}
body{
    background-color: #fcfcfc;

}
.header{
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    background-color: #0a0101;
    backdrop-filter: blur(8px);
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    z-index: 1000;
    color: rgb(255, 255, 255);

}
 .logo{
    color: rgb(231, 222, 222);
    font-size: 1.3rem;
    font-weight: 600;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
}
.logo:hover{
    transform: scale(1.1);

}

.nav-links{
    display: flex;
    gap: 2rem;
}
li{
    cursor: pointer;
    
}
li:hover{transform: scale(1.03);

}


li a{
    position: relative;
    color: rgb(231, 224, 224);
    font-weight: 300;

}
 li a::before{
    position: absolute;
    content: '';
    width: 0;
    left: 0; 
    height: 5px;
    top: 25px;
    border-radius: 1rem;
    transition: 0.3s ease-in-out;
   background:linear-gradient(to right, rgb(240, 32, 5), rgb(39, 11, 222));
    
    
 }
 li a:hover::before{
   width: 100%;
   transform: scale(1.03);
   
   
 }

 .visit-btn{
    padding: 0.8rem 1.5rem;
    border-radius: 3rem;
    border: none;
    font-weight: 500;
    color: white;
    font-size: 1rem;
    background: linear-gradient(to right,rgb(214, 219, 222), rgb(73, 40, 73));
    cursor: pointer;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
 }
 .visit-btn:hover{
    background:linear-gradient(to right, rgb(240, 32, 5), rgb(39, 11, 222));
    transform: scale(1.06);

 }

 #menu-icon{
    font-size: 2rem;
    display: none;
 } 

 /* section */

 section{
    min-height: 100vh;
    padding: 8rem 12%;
    width: 100%;
    position: relative;

 }

 .about{
    display: flex;
    align-items: center;
    justify-content: center;
  
 }

 .about .about-container{
    display: flex;
    align-items: center;
    justify-content: center;
      gap: 10rem;
 }

 .about img{
     width: 20vw;
   
    border-radius: 50%;

 }

.info-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 1.5rem;

}

.info-box h3{
    font-size: 1.8rem;
    font-weight: 500;
    opacity:0.8;
}

.info-box h1{
    font-size: 4rem;
    font-weight: 600;
}
.info-box span{
    background:linear-gradient(to right, rgb(255,0,255), rgb(0,157,255));
    background-clip: text;
    color: transparent;
}

.btn-group{
    display: flex;
    gap:1rem;
   
}

.btn{
     border:2px solid black;
     padding: 0.5rem 1.5rem;
     border-radius: 3rem;
     cursor: pointer;
     transition: 0.2s ease-in-out;
}

.btn:hover{
    background-color: black;
    color:white
}
.socials{
    display: flex;
    gap: 2rem;
}

.socials i{
    font-size: 2.5rem;
    cursor:pointer;
transition: 0.2s ease-in-out;

}

.socials i:hover{
    transform:scale(1.1);
}

/* experience */
.experience{
    margin-bottom: 0%;
}
.exp-title{
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 4px;
}

.experience-info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.experience img{
    width: 20vw;
    border-radius: 3rem;
}
 
 .grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:2rem;
 }  

   .grid-card{
    border: 2px solid black;
    border-radius: 3rem;
    padding: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: left;
    cursor: pointer;
    transition:0.2s ease-in-out ;

}  

  .grid-card:hover{
   transform: scale(1.02);
   background-color: black;
   color: aliceblue;
}


 .grid-card span{
  font-weight: 500;
  background: linear-gradient(to right, #009dff, #ff00ff);
  background-clip:text;
  color: transparent;
} 

::-webkit-scrollbar{
    width: 8px;

} 
 
::-webkit-scrollbar-track{
    background-color:#e8e5e5;
}

::-webkit-scrollbar-thumb
{
  background: linear-gradient(to bottom, #009dff, #ff00ff);
    
} 


/*  projects */

.project-title{
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 14px;
}


.projects-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 2rem;
}

.project-card{
    padding: 1.3rem 0rem 0.5rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border: 2px solid black;
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    background:white;
}

.project-card:hover{

      background:linear-gradient(to right, rgb(240, 32, 5), rgb(39, 11, 222));
      color: aliceblue;
      transform: translateY(-10px)scale(1.02);
}

.project-card img{
    width: 20vw;
    border-radius: 1rem;
}
/* Contact */
.contact-title{
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    
}
.input-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 10rem;

}

.input-box input{
    border-radius: 3rem;
    border-radius: 2px solid block;
    padding:2rem 8rem;
    font-size: 3rem;

}

.input-box input::placeholder{

    font-size: 3rem;
}
.input{
    position: relative;
}

.input i{
    position: absolute;
    font-size: 4rem;
    left: 10px;
    transform: translate(50%,-50%);
    top: 50%;
}
/* footer */


.footer{
    bottom: 0%;
    left: 0%;
    height: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    justify-content: center;
   
}


.footer p{
     margin-top: 1rem;
    color: rgb(0, 0, 0);
     
}

@media(max-width:1080px)
{
  header{
    padding: 1rem 2rem;
    gap: 2rem;
  }
.about .about-container{
    gap: 3rem;
   
}
 .experience-info{
    flex-direction: column;
 }
 .input-box input{
padding: 2rem 5rem;
font-size: 2.5rem;
 }
 .input input::placeholder{
    font-size: 2.5rem;
    
 }
 .input-box i{
        font-size: 2.5rem;
    }
}

@media(max-width:768px)
{
    header{
        gap: 1rem;
        padding: 1rem;
    }

    header.logo{
        font-size: 1rem;
    }

    header .visit-btn{
        display: none;
    }
    .input-box input{
    padding: 1rem 2rem;
}
.input-box::placeholder{
    font-size: 1.5rem;
}
.input-box i{
    display: none;
}
.grid{
    grid-template-columns: repeat(1,1fr);
}
.experience-info .logo{
    width: 70vw;
}
}

@media(max-width:600px)
{
    header #menu-icon{
        display: block;
    }
    .nav-links{
        position: absolute;
        top: 100%;
        margin-top: 1rem;
        width: 100%;
        padding: 1rem;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: black;
        border-radius: 3rem;
        display: none;
    }
    .nav-links li{
        margin-top: 1.5rem;
        padding: 1rem;
    }
    .nav-links.active{
        display: block;
    }
    header{
        padding: 1rem 5rem;
        gap: 8rem;
    }

.header.logo{
    font-size: 1.5rem;
}
.about-container{
    flex-direction: column;
    margin: 0%;padding: 0%;
}
.about-container img{
    
    width: 50vw
}
.exp-title{
    font-size: xxx-large;
}

.experience-info{
    max-width: 70vw;
}

.exp-img{
    display: none;
}

.project-card{
    max-width: 70vw;
}
.projects .btn-group .btn{
    padding: 0%;
    font-size: medium;
}
.input-box input{
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 3rem;
    width: 80%;
    font-size: 1.5rem;

}

.input-box input::placeholder{
    font-size:0rem;
}


}